@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.sidebar {
    width: 200px;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(153, 152, 152);
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
}