@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: rgb(31, 31, 31);
}

.body {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: black;
    color: white;
    padding: 8px;
}

.logo {
    font-size: 42px;
    padding: 12px;
    display: flex;
    align-items: center;
}

.cookies {
    font-size: 10px;
}

.cookies:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    padding: 8px;
    padding-left: 16px;
    background-color: rgb(20, 20, 20);
    flex: 1;
}

.navbar ul {
    display: flex;
    gap: 16px
}

.circle-btns {
    display: flex;
    gap: 20px;
}

.back-btn, 
.next-btn {
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.sidebar button {
    border-radius: 20px;
    padding: 4px;
}

a {
    text-decoration: none;
    color: rgb(153, 152, 152);
}

.first-row {
    display: flex;
}

.second-row {
    display: flex;
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
}

.text {
    color: grey;
}